# *************************** In The Name Of God ***************************
# * @file    .clang-tidy
# * @brief   ClangTidy configuration for power electronics control library
# * @author  Dr.-Ing. Hossein Abedini
# * @date    2025-06-08
# * Static analysis rules and linting configuration for maintaining high
# * code quality in the power electronics control library.
# * @note    Designed for real-time signal processing applications.
# * @license This work is dedicated to the public domain under CC0 1.0.
# *          Please use it for good and beneficial purposes!
# ***************************************************************************

---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  bugprone-*,
  cert-*,
  misc-*,
  misc-const-correctness,
  misc-include-cleaner,
  readability-const-return-type,
  cppcoreguidelines-const-correctness,
  -modernize-use-trailing-return-type,
  -modernize-use-auto,
  -readability-magic-numbers,
  -cert-err58-cpp,
  -misc-non-private-member-variables-in-classes
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: false
FormatStyle: file
CheckOptions:
  - key: readability-identifier-length.MinimumVariableNameLength
    value: 2
  - key: readability-identifier-length.MinimumParameterNameLength
    value: 2
  - key: readability-function-cognitive-complexity.Threshold
    value: 25
  - key: readability-function-size.LineThreshold
    value: 80
  - key: performance-move-const-arg.CheckTriviallyCopyableMove
    value: false
  - key: cppcoreguidelines-const-correctness.AnalyzeValues
    value: true
  - key: cppcoreguidelines-const-correctness.AnalyzeReferences
    value: true
  - key: cppcoreguidelines-const-correctness.WarnPointersAsValues
    value: false
  - key: cppcoreguidelines-const-correctness.TransformValues
    value: true
  - key: cppcoreguidelines-const-correctness.TransformReferences
    value: true
